*{
    background-color: rgb(208, 255, 0);
    margin: 0px;
    padding: 0px;
}
body{
    text-align: center;
    text-shadow: 2px 2px black;
    color: aquamarine;
    font-size: 60px;
}
#block{
    background-color: rgb(224, 23, 164);
}
#quad1{
    background-color: rgb(47, 33, 238);
    flex-shrink: 0;
}
#quad2{
    background-color: rgb(34, 228, 166);
    flex-grow: 1;
}
quad3{
    background-color: rgb(201, 25, 25);
}
.quad{
    width: 200px;
    height: 200px;
    line-height: 200px;
   /* display: inline-block; */
}
#inline-block{
    background-color: blueviolet;
    display: inline-block;
    width: 100%;
}
#flex{
    background-color: rgb(252, 0, 117);
    display: flex;
    width:100% ;
    height: 600px;
    /*min-height: 100%;*/
    padding: 5px;
    gap: 20px;
    /*flex-wrap: wrap;
    flex-direction: column;*/
    justify-content: center;
    /*align-content:space-between;*/
    align-items: center;
}
