*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: thistle;
}
header{
    position: sticky;
    top: 0px;
}

#navegacao{
    width: 80%;
    background-color: red;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    color: white;
    font-size: 30px;
    overflow:hidden;
    position: sticky;
    top: 0px;
}

.simbolo{
    font-size: 40px;
}

#item-menu{
    list-style: none;
    float:right;
}

li{
    display:inline-block;
    margin-left: 15px;
    padding: 5px;
}

li:hover{
    color: white;
    background-color: black;
    cursor:pointer;
    border-radius: 90px;
    transform: scaleX(1.5);
    transform: scaleY(1);
}

#logo{
    float: left;
}

main{
    background-color: aliceblue;
    margin: 200px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 15px;
    font-size: 30px;
    color: antiquewhite;
}

#bloco{
    background-color: blue;
 height: 200px;
 width: 100%;
 display: block;
 text-align: center;
 line-height: 200px;
 margin-top: 20px;
}

#linha-bloco{
    background-color: chocolate;
    margin-top: 10px;
    text-align: center;
    color: black;
    font-weight: 900;
    padding: 10px;
    text-align: center;
}

.mini-bloco{
    background-color: aqua;
    width: 250px;
    margin-top: 5px;
    display: inline-block;
    height: 200px;
    line-height: 200px;
}

#linha{
    background-color: chartreuse;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    color: blue;
}

.mini-linha{
    background-color: brown;
    margin-top: 5px;
    height: 200px;
    line-height: 200px;
    width: 50%;
    display: inline;
}

@media screen and (max-width: 900px){
    body{
        background-color: rgb(208, 208, 208);
    }
    #navegacao{
        width: 90%;
        background-color: black;
        padding: 5px;
        font-size: 25px;
    }
    #logo{
        font-size: 35px;
        float: none;
        text-align: center;
    }
    .simbolo{
        font-size: 40px;
    }
    #item-menu{
        float: none;
        text-align: center;
        font-size: 30px;
        margin-left: 7px;
    }
}

@media screen and (max-width: 500px){
    body{
        background-color: yellow;
    }
    #navegacao{
        width: 100%;
        background-color: purple;
        padding: 5px;
    }
    #logo{
        font-size: 40px;
        text-align: center;
    }
    .simbolo{
        font-size: 50px;
        float: none;
    }
    li{
        display: block;
        width: 50%;
        margin-top:5px;
        margin-left: auto;
        margin-right: auto;
        font-size: 25px;
    }
    main{
        width: 100%;
        padding: 0px;
    }
    .mini-bloco{
        width: 80%;
        font-size: 20px;
    }
    .mini-linha{
        font-size: 20px;
        line-height: 100px;
    }
}